{
    "parser": "babel-eslint",
    "plugins": [
        "flowtype"
    ],
    "extends": [
        "plugin:flowtype/recommended",
        "airbnb-base"
    ],
    "env": {
        "jest": true
    },
    "rules": {
        "indent": ["error", 4]    
    }
}
